.heading {
    margin-top: 45px;
    margin-left: 70px;
    position: relative;
  }
  
@media only screen and (min-width: 600px) {
   
    .resp1 {
      justify-content: center;
      display: flex;
    }
    .content {
      padding-top: 30px;
    }
    .content1 {
      padding-top: 10px;
    }
    .resp2 {
      justify-content: center;
    }
   .productContainer {

        width: 58%;
    
        padding: 0;
    
      }
  }
  
  .summary {
    background: lightgrey;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1.5px solid gray;
  }
  
  .summary1 {
    background: lightgray;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1.5px solid gray;
  }
  
  .payment {
    float: right;
    justify-content: space-between;
  }
  
  .pay {
    margin-left: 10px;
  }
  .pay1 {
    width: 100px;
  }
  .home{
    display: flex;
  }
  .productContainer {

    display: flex;
  
    width: 78%;
  
    padding: 20px;
  
    flex-wrap: wrap;
  
    justify-content: space-around;
  
  }